<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost:3000/css/pedidos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header id="navbar-container"></header>
    <script src="http://localhost:3000/JS/navbar.js"></script>
    <script>
        navbar();
    </script>

    <h2 style="color:white; margin: 10px;">Pedidos</h2>
    <div id="pedidos">
        <% pedidos.forEach((pedido) => { %>
            <div id="pedido">
                <p><strong>nome: </strong> <%= pedido.cliente.nome %> <%= pedido.cliente.sobrenome %></p>
                <p><strong> endereço: </strong> <%= pedido.endereco %></p>

                <strong>Pizzas:</strong> <br>
                <% pedido.pizzas.forEach((pizza) =>{ %>
                    <p>
                        <%= pizza.sabor %> <br> 
                        <strong>Tamanho:</strong> <%= pizza.tamanho %>
                        <strong> - Qtd:</strong> <%= pizza.quantidade %>
                        <p>
                            <% if(pizza.observacao){ %>
                                <strong>Observação:</strong><br>
                                <%= pizza.observacao %>
                            <% } %>
                        </p>
                    </p>
                <% }) %> 
            </div>
        <% }) %>
    </div>
</body>
</html>