
    <link rel="stylesheet" href='http://localhost:3000/css/painel.css'>
    
    <!-- Navbar e head -->
    <header id="navbar-container"></header>
    <script src="http://localhost:3000/JS/navbar.js"></script>
    <script>
        navbar();
    </script>

    <button>Adicionar Pedido(+)</a></button>

    <!-- Contêiner para os pedidos -->
    <div id="pedidos">
        <% pedidos.forEach((pedido) => { %>
            <div id="pedido">
                ID: <%=pedido.id%>
                <p><b>Nome:</b>  <%= pedido.cliente.nome %> <%= pedido.cliente.sobrenome %> <br></p>
                <p><b>Endereço:</b>  <%= pedido.endereco %> <br></p>

                <b>Pizzas:</b> <br>
                <% pedido.pizzas.forEach((pizza) => { %>
                    <%= pizza.sabor %> - <%= pizza.tamanho %>
                    - Qtd: <%= pizza.quantidade %> <p></p>
                    <% if(pizza.observacao) { %>
                        
                        <b>Observação:</b>
                        <%= pizza.observacao %>  
                    <% } %>
                <% }) %>
            </div>
        <% }) %>
    </div>
</body>
</html>
</body>
</html>